.journey{
display: flex;
width: 100%;
padding: var(--Section-Padding-padding-section-large, 112px) var(--Page-Padding-padding-global, 64px);
flex-direction: column;
align-items: center;
gap: 112px;
background: var(--Deep-Green, #172B22);

@media (max-width:768px) {
  display: flex;
width: 100%;
padding: var(--Section-Padding-padding-section-large, 64px) var(--Page-Padding-padding-global, 20px);
flex-direction: column;
align-items: center;
gap: 64px;
}

.container{
display: flex;
max-width: 1280px;
margin-left: auto;
margin-right: auto;
flex-direction: column;
align-items: flex-start;
gap: 112px;
align-self: stretch;

@media screen {
  display: flex;
max-width: 100%;
width: 100%;
flex-direction: column;
align-items: flex-start;
gap: 64px;
align-self: stretch;
}
}

.title{
display: flex;
flex-direction: column;
align-items: center;
gap: 24px;
align-self: stretch;

@media (max-width:768px) {
  gap:20px
}
}

.titleColumn{
color: var(--White, #FFF);
text-align: center;
font-variant-numeric: slashed-zero;

/* Desktop/Display/Normal (SB) */
font-family: var(--Font-Family-Heading, "TheSeasons");
font-size: var(--Font-Size-5xl, 48px);
font-style: normal;
font-weight: 700;
line-height: 120%; /* 57.6px */
letter-spacing: 0.5px;
text-transform: uppercase;

@media (max-width:768px) {
  align-self: stretch;
  font-size: 32px;
}
}

.titleText{
color: var(--White-2, #FAFAFA);
text-align: center;
font-variant-numeric: slashed-zero;
max-width: 560px;
margin-left: auto;
margin-right: auto;
align-self: stretch;
/* Desktop/Body/Large (R) */
font-family: var(--Font-Family-Body, "Satoshi");
font-size: var(--Font-Size-lg, 18px);
font-style: normal;
font-weight: 400;
line-height: 150%; /* 27px */
letter-spacing: -0.5px;

@media (max-width:768px) {
  align-self: stretch;
  font-size: 16px;
}
}

.titleDescription{
display: flex;
flex-direction: column;
align-items: flex-start;
align-self: stretch;
}

.button{
display: flex;
align-items: flex-start;
align-self: stretch;
}

.insights{
display: flex;
padding: 64px 0;
justify-content: flex-end;
align-items: flex-start;
flex: 1 0 0;
align-self: stretch;

@media (max-width:768px) {
  display: flex;
padding: var(--5xl, 48px) 0;
flex-direction: column;
align-items: flex-start;
gap: 40px;
flex: 1 0 0;
align-self: stretch;
}
}

.contentCard{
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 16px;
align-self: stretch;
}

.insightCard{
color: var(--White, #FFF);
text-align: right;
font-variant-numeric: slashed-zero;

/* Desktop/Headline/Normal (SB) */
font-family: var(--Font-Family-Heading, "TheSeasons");
font-size: var(--Font-Size-2xl, 24px);
font-style: normal;
font-weight: 700;
line-height: 140%; /* 33.6px */

@media (max-width:768px) {
  font-size: 20px;
}
}

.blogSubContainer{
display: flex;
width: 192px;
flex-direction: column;
align-items: center;
gap: 10px;
align-self: stretch;

@media (max-width:768px) {
  display: flex;
width: 48px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
align-self: stretch;
}
}

.blogColumn{
display: flex;
flex-direction: column;
align-items: center;
gap: 16px;
flex: 1 0 0;
}

.blogSubColumn{
width: 3px;
height: 64px;
background: var(--Gold, #FCC97E);
}

.blogSub{
width: 3px;
flex: 1 0 0;
background: var(--Gold, #FCC97E);
}

.badge{
display: flex;
padding: 64px 0;
flex-direction: column;
align-items: flex-start;
gap: 64px;
flex: 1 0 0;
align-self: stretch;
}

.social_icons{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 24px;
align-self: stretch;

@media (max-width:768px) {
  gap:12px;
}
}
.date_text{
color: var(--White, #FFF);
font-variant-numeric: slashed-zero;

/* Desktop/Headline/Normal (SB) */
font-family: var(--Font-Family-Heading, "TheSeasons");
font-size: var(--Font-Size-2xl, 24px);
font-style: normal;
font-weight: 700;
line-height: 140%; /* 33.6px */

@media (max-width:768px) {
  font-size: 20px;
}
}

.header{
  color: var(--White-2, #FAFAFA);
font-variant-numeric: slashed-zero;

/* Desktop/Body/Normal (R) */
font-family: var(--Font-Family-Body, "Satoshi");
font-size: var(--Font-Size-md, 16px);
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
letter-spacing: -0.3px;
}
}