.containers{
display: flex;
padding: var(--none, 0) 0;
flex-direction: column;
align-items: center;
align-self: stretch;
background: var(--White-White, #FFF);

@media (max-width:768px) {
    display: flex;
padding: var(--none, 0) 0;
flex-direction: column;
align-items: center;
align-self: stretch;
background: var(--White-White, #FFF);
}

.container{
display: flex;
padding: var(--9xl, 128px) 0;
flex-direction: column;
align-items: center;
gap: 80px;
align-self: stretch;
background: var(--Deep-Green, #172B22);

@media (max-width:768px) {
    display: flex;
padding: var(--6xl, 64px) var(--xl, 20px);
flex-direction: column;
align-items: center;
gap: 80px;
align-self: stretch;
background: var(--Deep-Green, #172B22);
}
}

.title{
display: flex;
justify-content: center;
align-items: center;
gap: 8px;
align-self: stretch;
}

.titleColumn{
color: var(--White-2, #FAFAFA);
font-variant-numeric: slashed-zero;

/* Desktop/Body/Small (R) */
font-family: var(--Font-Family-Body, "Satoshi");
font-size: var(--Font-Size-sm, 14px);
font-style: normal;
font-weight: 400;
line-height: 150%; /* 21px */
letter-spacing: -0.2px;
}

.titleText{
width: 3px;
height: 3px;
aspect-ratio: 1/1;
border-radius: 100px;
background: var(--White-2, #FAFAFA);

}

.titleDescription{
color: var(--White-2, #FAFAFA);
font-variant-numeric: slashed-zero;

/* Desktop/Body/Small (R) */
font-family: var(--Font-Family-Body, "Satoshi");
font-size: var(--Font-Size-sm, 14px);
font-style: normal;
font-weight: 400;
line-height: 150%; /* 21px */
letter-spacing: -0.2px;
}

.button{

display: flex;
width: 985px;
flex-direction: column;
align-items: center;
gap: 16px;

@media (max-width:768px) {
    display: flex;
flex-direction: column;
align-items: center;
gap: 16px;
width: 100%;
align-self: stretch;
}

}

.insights {
color: var(--White, #FFF);
text-align: center;
font-variant-numeric: slashed-zero;

/* Desktop/Display/Large (M) */
font-family: var(--Font-Family-Heading, "TheSeasons");
font-size: var(--Font-Size-6xl, 56px);
font-style: normal;
font-weight: 400;
line-height: 120%; /* 67.2px */

@media (max-width:768px) {
    color: var(--White, #FFF);
text-align: center;
font-variant-numeric: slashed-zero;

/* Mobile/Display/Large (M) */
font-family: var(--Font-Family-Heading, "TheSeasons");
font-size: 38px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 45.6px */
letter-spacing: -1.5px;
}
}


.insightCard{
color: var(--White-2, #FAFAFA);
text-align: center;
font-variant-numeric: slashed-zero;

/* Desktop/Body/Normal (R) */
font-family: var(--Font-Family-Body, "Satoshi");
font-size: var(--Font-Size-md, 16px);
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
letter-spacing: -0.3px;
}

.blogSubContainer{
display: flex;
align-items: center;
gap: 8px;
}

.blogColumn{
color: var(--White-2, #FAFAFA);
font-variant-numeric: slashed-zero;

/* Desktop/Body/Normal (R) */
font-family: var(--Font-Family-Body, "Satoshi");
font-size: var(--Font-Size-md, 16px);
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
letter-spacing: -0.3px;
}

.blogSubColumn{
display: flex;
padding-bottom: var(--9xl, 128px);
flex-direction: column;
align-items: center;
gap: 120px;
align-self: stretch;

@media (max-width:768px) {
    display: flex;
padding-bottom: var(--8xl, 96px);
flex-direction: column;
align-items: flex-start;
gap: 60px;
align-self: stretch;


}
}

.blogSub{
display: flex;
justify-content: center;
align-items: flex-start;
gap: 80px;

@media (max-width:768px) {
    display: flex;
flex-direction: column;
align-items: center;
gap: 80px;
align-self: stretch;
}
}

.badge{
display: flex;
width: 700px;
flex-direction: column;
align-items: flex-end;
gap: 112px;

@media (max-width:768px) {
    display: flex;
padding: 0 var(--xl, 20px);
flex-direction: column;
align-items: flex-end;
gap: 112px;
align-self: stretch;
width: 100%;
order:2;
}
}

.badge_text{
 color: var(--Dark-Grey, #5E5E5E);
font-variant-numeric: slashed-zero;

/* Desktop/Long paragraph/Normal (R) */
font-family: var(--Font-Family-Body, "Satoshi");
font-size: var(--Font-Size-md, 16px);
font-style: normal;
font-weight: 400;
line-height: 180%; /* 28.8px */
letter-spacing: -0.3px;

}
.date_text{
    color: var(--Deep-Green, #172B22);
font-variant-numeric: slashed-zero;

/* Desktop/Display/Small (M) */
font-family: var(--Font-Family-Heading, "TheSeasons");
font-size: var(--Font-Size-4xl, 40px);
font-style: normal;
font-weight: 400;
line-height: 120%; /* 48px */
letter-spacing: 0.5px;

@media (max-width:768px) {
    color: var(--Deep-Green, #172B22);
font-variant-numeric: slashed-zero;

/* Mobile/Display/Small (M) */
font-family: var(--Font-Family-Heading, "TheSeasons");
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 33.6px */
letter-spacing: 0.5px;
}
}

.header{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 22px;
align-self: stretch;
}
}

.logo_groups{
color: var(--Dark-Grey, #5E5E5E);
font-variant-numeric: slashed-zero;

/* Desktop/Long paragraph/Normal (R) */
font-family: var(--Font-Family-Body, "Satoshi");
font-size: var(--Font-Size-md, 16px);
font-style: normal;
font-weight: 400;
line-height: 180%; /* 28.8px */
letter-spacing: -0.3px;
}

.logo_subgroups{
    color: var(--Dark-Grey, #5E5E5E);
font-variant-numeric: slashed-zero;

/* Desktop/Long paragraph/Normal (R) */
font-family: var(--Font-Family-Body, "Satoshi");
font-size: var(--Font-Size-md, 16px);
font-style: normal;
font-weight: 400;
line-height: 180%; /* 28.8px */
letter-spacing: -0.3px;
}
.logo_text{
color: var(--Dark-Grey-Grey-10, #404040);

/* Desktop/Subheading/Large (M) */
font-family: var(--Font-Family-Sub-heading, Cinzel);
font-size: var(--Font-Size-md, 16px);
font-style: normal;
font-weight: 400;
line-height: 20px; /* 125% */
letter-spacing: 1.4px;
text-transform: uppercase;
}

.logo_secondary{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 24px;

@media (max-width:768px) {
padding: 0 var(--xl, 20px);
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 12px;
align-self: stretch;
display: contents;
order: 1;
}
}

.contentContainer{
    display: flex;
width: 387px;
padding: 32px var(--2xl, 24px);
flex-direction: column;
align-items: flex-start;
gap: 22px;
border-radius: var(--No-Radius, 0);
background: var(--White-Grey-2, #F5F5F5);



@media (max-width:768px) {
display: flex;
padding: 32px var(--2xl, 24px);
flex-direction: column;
align-items: flex-start;
gap: 22px;
width: 100%;
align-self: stretch;
order: 1;
}
}

.divider{
    width: 339px;
height: 1px;
background: #D2D2D2;

@media (max-width:768px) {
    width: 287px;
height: 1px;
}
}

.contentSubContainer{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 5px;
align-self: stretch;

@media (max-width:768px) {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 5px;
align-self: stretch;
}
}

.contentInnerContainer{
    display: flex;
padding: 6px 12px;
justify-content: center;
align-items: center;
gap: 8px;
align-self: stretch;
border-radius: 8px;
}

.contentInnerText{
    color: var(--Black-Charcoal, #222);
font-variant-numeric: slashed-zero;
flex: 1 0 0;
/* Desktop/Long paragraph/Normal (R) */
font-family: var(--Font-Family-Body, "Satoshi");
font-size: var(--Font-Size-md, 16px);
font-style: normal;
font-weight: 400;
line-height: 180%; /* 28.8px */
letter-spacing: -0.3px;

@media (max-width:768px) {
    color: var(--Dark-Grey, #5E5E5E);
flex: 1 0 0;

}


}

.newsLetterMainContainer{
    @media (max-width:768px) {
        display: flex;
padding: 0 var(--xl, 20px);
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 12px;
align-self: stretch;
order: 3;

    }
}

.newsLetterContainer{
    display: flex;
width: 387px;
padding: 32px;
flex-direction: column;
align-items: flex-start;
gap: 22px;
border-radius: var(--No-Radius, 0);
background: var(--Deep-Green, #172B22);

@media (max-width:768px) {
display: flex;
padding: var(--2xl, 24px);
flex-direction: column;
align-items: flex-start;
gap: 22px;
align-self: stretch;
width: 100%;
}
}

.newsLetter{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 12px;
align-self: stretch;

}

.newsLetterText{
    color: var(--White, #FFF);
font-variant-numeric: slashed-zero;

/* Desktop/Headline/Normal (M) */
font-family: var(--Font-Family-Heading, "TheSeasons");
font-size: var(--Font-Size-2xl, 24px);
font-style: normal;
font-weight: 400;
line-height: 140%; /* 33.6px */
}

.newsLetterSubtext{
    color: var(--White-2, #FAFAFA);
font-variant-numeric: slashed-zero;

/* Desktop/Long paragraph/Normal (R) */
font-family: var(--Font-Family-Body, "Satoshi");
font-size: var(--Font-Size-md, 16px);
font-style: normal;
font-weight: 400;
line-height: 180%; /* 28.8px */
letter-spacing: -0.3px;
}

.subscribeContainer{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: var(--lg, 16px);
align-self: stretch;
}

.inputContainer{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: var(--xs, 8px);
align-self: stretch;
}

input::placeholder {
 color: #5E5E5E;
font-variant-numeric: slashed-zero;
font-family: 'Satoshi', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: -0.3px;
}

/* Vendor prefixes for broader support */
input::-webkit-input-placeholder {
 color: #5E5E5E;
font-variant-numeric: slashed-zero;
font-family: 'Satoshi', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: -0.3px;
}

input::-moz-placeholder {
  color: #5E5E5E;
font-variant-numeric: slashed-zero;
font-family: 'Satoshi', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: -0.3px;
}

input:-ms-input-placeholder {
 color: #5E5E5E;
font-variant-numeric: slashed-zero;
font-family: 'Satoshi', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: -0.3px;
}

.inputStyles{
 display: flex;
padding:  8px  12px;
align-items: center;
gap:  8px;
align-self: stretch;
border: 0.5px solid #E5E5E5;
background-color:  #FFF;

@media (max-width:768px) {
  display: flex;
padding: var(--xs, 8px) var(--reg, 12px);
align-items: center;
gap: var(--xs, 8px);
align-self: stretch;
border-radius: var(--No-Radius, 0);
border: 0.5px solid var(--White-2, #FAFAFA);
background: var(--White, #FFF);
}
}

.subscribeBtn{
display: flex;
padding: 10px 16px;
justify-content: center;
align-items: center;
gap: 4px;
cursor: pointer;
align-self: stretch;
background: #FCC97E;
color:  #222;
font-variant-numeric: slashed-zero;
font-family: 'Satoshi', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 20px;
letter-spacing: -0.2px;
text-transform: uppercase;

@media (max-width:768px) {
  display: flex;
padding: var(--sm, 10px) var(--lg, 16px);
justify-content: center;
align-items: center;
gap: var(--3xs, 4px);
align-self: stretch;
border-radius: var(--No-Radius, 0);
background: var(--Gold, #FCC97E);
}
}