.metrics{
display: flex;
padding: var(--9xl, 128px) var(--6xl, 64px);
flex-direction: column;
align-items: center;
gap: 200px;
align-self: stretch;
background: var(--White-White, #FFF);

.container{
display: flex;
max-width: 1312px;
margin-left: auto;
margin-right: auto;
flex-direction: column;
align-items: flex-start;
gap: 200px;
align-self: stretch;
}

.title{
display: flex;
max-width: 600px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 24px;
align-self: stretch;
}

.titleColumn{
color: var(--Deep-Green, #172B22);
font-variant-numeric: slashed-zero;

/* Desktop/Body/Normal (M) */
font-family: var(--Font-Family-Body, "Satoshi");
font-size: var(--Font-Size-md, 16px);
font-style: normal;
font-weight: 500;
line-height: 150%; /* 24px */
letter-spacing: -0.3px;
}

.titleText{
color: var(--Deep-Green, #172B22);
font-variant-numeric: slashed-zero;

/* Desktop/Display/Normal (SB) */
font-family: var(--Font-Family-Heading, "TheSeasons");
font-size: var(--Font-Size-5xl, 48px);
font-style: normal;
font-weight: 700;
line-height: 120%; /* 57.6px */
letter-spacing: 0.5px;
text-transform: uppercase;
}

.titleDescription{
display: flex;
align-items: flex-start;
gap: 120px;
align-self: stretch;
}

.button{
display: flex;
height: 298px;
align-items: center;
gap: 20px;
flex: 1 0 0;
}

.insights{
width: 1px;
height: 298px;
background: var(--Bright-Green, #3C7A5B);
}

.insightCard{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
flex: 1 0 0;
align-self: stretch;
}

.blogSubContainer{
color: var(--Deep-Green, #172B22);
font-variant-numeric: slashed-zero;

/* Desktop/Body/Large (M) */
font-family: var(--Font-Family-Body, "Satoshi");
font-size: var(--Font-Size-lg, 18px);
font-style: normal;
font-weight: 500;
line-height: 150%; /* 27px */
letter-spacing: -0.5px;
}

.blogColumn{
display: flex;
align-items: flex-end;
}

.blogSubColumn{
color: var(--Deep-Green, #172B22);
text-align: center;
font-variant-numeric: slashed-zero;
font-family: var(--Font-Family-Heading, "TheSeasons");
font-size: 80px;
font-style: normal;
font-weight: 400;
line-height: 80%; /* 64px */
letter-spacing: -2px;
}

.blogSub{
color: var(--Deep-Green, #172B22);
font-variant-numeric: slashed-zero;
font-family: var(--Font-Family-Heading, "TheSeasons");
font-size: var(--Font-Size-4xl, 40px);
font-style: normal;
font-weight: 400;
line-height: 90%; /* 36px */
letter-spacing: -1.5px;
}

.badge{
color: var(--White-White, #FFF);
font-variant-numeric: slashed-zero;

/* Desktop/Long paragraph/Small (R) */
font-family: var(--Font-Family-Body, "Satoshi");
font-size: var(--Font-Size-sm, 14px);
font-style: normal;
font-weight: 400;
line-height: 180%; /* 25.2px */
letter-spacing: -0.2px;
}

.social_icons{
display: flex;
align-items: center;
gap: var(--lg, 16px);
}
.date_text{
    color:  #FAFAFA;
font-variant-numeric: slashed-zero;
font-family: 'Satoshi', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%;
letter-spacing: -0.2px;
}

.header{
    color:  #FFF;
font-variant-numeric: slashed-zero;
font-family: "TheSeasons";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 140%;
letter-spacing: 0.5px;
}
}

.logo_groups{
display: flex;
align-items: center;
gap: 12px;

.logo_subgroups{
    display: flex;
flex-direction: column;
align-items: flex-start;
}
.logo_text{
color: #FFF;
text-align: center;
font-variant-numeric: slashed-zero;
font-family: 'Satoshi', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 150%;
letter-spacing: -0.2px;
}

.logo_secondary{
color:  #FAFAFA;
text-align: center;
font-variant-numeric: slashed-zero;
font-family: 'Satoshi', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%;
letter-spacing: -0.2px;
}
}