.investment{
display: flex;
width: 100%;
padding: var(--6xl, 64px) var(--Page-Padding-padding-global, 64px);
flex-direction: column;
justify-content: center;
align-items: center;
gap: 80px;
background: linear-gradient(304deg, rgba(0, 0, 0, 0.00) -0.46%, rgba(23, 43, 34, 0.90) 109.06%), url('../investment.jpg') lightgray 50% / cover no-repeat;

@media (max-width:768px) {
  display: flex;
width: 100%;
padding: var(--6xl, 64px) var(--xl, 20px);
flex-direction: column;
justify-content: center;
align-items: center;
gap: 80px;
}

.container{
display: flex;
max-width: 1320px;
flex-direction: column;
justify-content: flex-end;
align-items: flex-end;
gap: var(--10xl, 160px);
align-self: stretch;

@media (max-width:768px) {
  display: flex;
max-width: 100%;
width: 100%;
flex-direction: column;
justify-content: flex-end;
align-items: flex-end;
gap: var(--10xl, 160px);
align-self: stretch;
}
}

input::placeholder,
textarea::placeholder {
color: var(--Bright-Green, #222);
font-variant-numeric: slashed-zero;
font-family: var(--Font-Family-Body, "Satoshi");
font-size: var(--Font-Size-md, 14px);
font-style: normal;
font-weight: 400;
line-height: 150%;
letter-spacing: -0.2px;
}

/* Vendor prefixes for broader support */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder
{
color: var(--Bright-Green, #222);
font-variant-numeric: slashed-zero;
font-family: var(--Font-Family-Body, "Satoshi");
font-size: var(--Font-Size-md, 14px);
font-style: normal;
font-weight: 400;
line-height: 150%;
letter-spacing: -0.2px;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
color: var(--Bright-Green, #222);
font-variant-numeric: slashed-zero;
font-family: var(--Font-Family-Body, "Satoshi");
font-size: var(--Font-Size-md, 14px);
font-style: normal;
font-weight: 400;
line-height: 150%;
letter-spacing: -0.2px;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
color: var(--Bright-Green, #222);
font-variant-numeric: slashed-zero;
font-family: var(--Font-Family-Body, "Satoshi");
font-size: var(--Font-Size-md, 14px);
font-style: normal;
font-weight: 400;
line-height: 150%;
letter-spacing: -0.2px;
}


.title{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 8px;
align-self: stretch;
}

.titleColumn{
display: flex;
max-width: 600px;
flex-direction: column;
align-items: flex-start;
gap: 32px;
align-self: stretch;

@media (max-width:768px) {
  max-width: 100%;
  width: 100%;
}
}

.titleText{
color: var(--Color-White, #FFF);
font-variant-numeric: slashed-zero;

/* Desktop/Display/Normal (SB) */
font-family: var(--Font-Family-Heading, "TheSeasons");
font-size: var(--Font-Size-5xl, 48px);
font-style: normal;
font-weight: 700;
line-height: 120%; /* 57.6px */
letter-spacing: 0.5px;
text-transform: uppercase;

@media (max-width:768px) {
  font-size: 32px;
  align-self: stretch;
}
}

.titleDescription{
color: var(--Color-White, #FFF);
font-variant-numeric: slashed-zero;

/* Desktop/Body/Large (M) */
font-family: var(--Font-Family-Body, "Satoshi");
font-size: var(--Font-Size-lg, 18px);
font-style: normal;
font-weight: 500;
line-height: 150%; /* 27px */
letter-spacing: -0.5px;

@media (max-width:768px) {
  font-size: 16px;
  align-self: stretch;
}
}

.button{
display: flex;
width: 400px;
padding: var(--2xl, 24px);
flex-direction: column;
justify-content: flex-end;
align-items: center;
gap: var(--2xl, 24px);
background: var(--White-Grey-1, #FAFAFA);

@media (max-width:768px) {
  display: flex;
padding: var(--2xl, 24px);
flex-direction: column;
justify-content: flex-end;
align-items: center;
width: 100%;
gap: var(--2xl, 24px);
align-self: stretch;
}


}

.insights{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 12px;
align-self: stretch;
}

.input{
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: var(--xs, 8px);
align-self: stretch;
}

.label{
  color: var(--Deep-Green, #172B22);
font-family: var(--Font-Family-Body, "Satoshi");
font-size: var(--Font-Size-sm, 14px);
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
letter-spacing: -0.2px;
}

.inputStyles{
  display: flex;
padding: var(--xs, 8px) var(--reg, 12px);
align-items: center;
gap: var(--xs, 8px);
align-self: stretch;
border-radius: var(--No-Radius, 0);
border: 0.5px solid var(--Bright-Green, #E5E5E5);
background: var(--White-2, #F5F5F5);
}

.disclaimer{
 color: var(--Dark-Grey-Grey-9, #5E5E5E);
text-align: center;
font-variant-numeric: slashed-zero;

/* Desktop/Body/Small (R) */
font-family: var(--Font-Family-Body, "Satoshi");
font-size: var(--Font-Size-sm, 14px);
font-style: normal;
font-weight: 400;
line-height: 150%; /* 21px */
letter-spacing: -0.2px;
}

.textAreaStyles{
display: flex;
padding: var(--xs, 8px) var(--reg, 12px);
align-items: flex-start;
gap: var(--xs, 8px);
flex: 1 0 0;
align-self: stretch;
border-radius: var(--No-Radius, 0);
border: 0.5px solid var(--Bright-Green, #3C7A5B);
background: var(--White-2, #FAFAFA);
}

.submitBtn{
  display: flex;
padding: var(--sm, 10px) var(--xl, 20px);
justify-content: center;
align-items: center;
gap: var(--3xs, 4px);
align-self: stretch;
border-radius: var(--No-Radius, 0);
background: var(--Gold, #FCC97E);
color: var(--Charcoal, #222);
font-variant-numeric: slashed-zero;

/* Desktop/Label/Normal (SB) */
font-family: var(--Font-Family-Body, "Satoshi");
font-size: var(--Font-Size-sm, 14px);
font-style: normal;
font-weight: 700;
line-height: 20px; /* 142.857% */
letter-spacing: -0.2px;
text-transform: uppercase;
}
}