.qluxePartners{
display: flex;
padding: var(--Section-Padding-padding-section-large, 112px) var(--Page-Padding-padding-global, 64px);
flex-direction: column;
align-items: center;
gap: 80px;
align-self: stretch;
background: var(--Deep-Green, #172B22);

@media (max-width:768px) {
    display: flex;
padding: var(--Section-Padding-padding-section-large, 64px) var(--Page-Padding-padding-global, 20px);
flex-direction: column;
align-items: center;
gap: 48px;
align-self: stretch;
}

.container{
display: flex;
max-width: 1312px;
flex-direction: column;
align-items: flex-start;
gap: 80px;
margin-left: auto;
margin-right: auto;
align-self: stretch;

@media (max-width:768px) {
    display: flex;
max-width: 100%;
width: 100%;
flex-direction: column;
align-items: center;
gap: 48px;
align-self: stretch;
}
}

.title{
display: flex;
max-width: 600px;
flex-direction: column;
align-items: center;
margin-left: auto;
margin-right: auto;
gap: 32px;
align-self: stretch;

@media (max-width:768px) {
    display: flex;
max-width: 100%;
width: 100%;
flex-direction: column;
align-items: center;
gap: 24px;
align-self: stretch;
}
}

.titleColumn{
display: flex;
flex-direction: column;
align-items: center;
gap: 24px;
align-self: stretch;

@media (max-width:768px) {
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 20px;
align-self: stretch;
}
}

.titleText{
color: var(--White, #FFF);
text-align: center;
font-variant-numeric: slashed-zero;
/* Desktop/Display/Normal (SB) */
font-family: var(--Font-Family-Heading, "TheSeasons");
font-size: var(--Font-Size-5xl, 48px);
font-style: normal;
font-weight: 700;
line-height: 120%; /* 57.6px */
letter-spacing: 0.5px;
text-transform: uppercase;

@media (max-width:768px) {
    font-size: 32px;
    align-self: stretch;
}
}

.titleDescription{
color: var(--White-2, #FAFAFA);
text-align: center;
font-variant-numeric: slashed-zero;

/* Desktop/Body/Large (R) */
font-family: var(--Font-Family-Body, "Satoshi");
font-size: var(--Font-Size-lg, 18px);
font-style: normal;
font-weight: 400;
line-height: 150%; /* 27px */
letter-spacing: -0.5px;

@media (max-width:768px) {
    font-size: 16px;
    align-self: stretch;
}
}

.button{
display: flex;
padding: 12px 24px;
justify-content: center;
align-items: center;
gap: 8px;
cursor: pointer;
border: 1px solid var(--Gold, #FCC97E);
background: var(--Gold, #FCC97E);
color: var(--Charcoal, #222);
font-variant-numeric: slashed-zero;

/* Desktop/Label/Normal (SB) */
font-family: var(--Font-Family-Body, "Satoshi");
font-size: var(--Font-Size-sm, 14px);
font-style: normal;
font-weight: 700;
line-height: 20px; /* 142.857% */
letter-spacing: -0.2px;
text-transform: uppercase;

@media (max-width:768px) {
    align-self: stretch;
}
}

.insights {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 16px;
overflow: hidden;
width: 100%;
}

.scrollContainer{
    display: flex;
    width: 100%;
    overflow: hidden;
}


.insightCard{
display: flex;
align-items: flex-start;
gap: 16px;
flex-shrink: 0;
min-width: 100%;
}

.agentImage{
    width: 416px;
    height: 340px;
    object-fit: cover;
    object-position: center top;
    flex-shrink: 0;

    @media (max-width:768px) {
        width: 280px;
        height: 230px;
    }
}

.blogSubContainer{
display: flex;
padding: 12px;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 12px;
background: var(--Light-Grey-Grey-4, #E5E5E5);
}

.blogColumn{
display: flex;
width: 50px;
height: 50px;
padding: 3.157px 4.094px 7.521px 4.875px;
justify-content: center;
align-items: center;
aspect-ratio: 1/1;
}

.blogSubColumn{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 12px;
align-self: stretch;
}

.blogSub{
    display: flex;
justify-content: center;
align-items: center;
gap: 12px;
}

.badge{
  display: flex;
padding: 2px 8px;
justify-content: center;
align-items: center;
gap: 2px;
border-radius: 0;
background:#EAEAEA;
}

.badge_text{
    color:#172B22;
text-align: center;
font-variant-numeric: slashed-zero;
font-family: 'Satoshi', sans-serif;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 16px;
}
.date_text{
    color:  #FAFAFA;
font-variant-numeric: slashed-zero;
font-family: 'Satoshi', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%;
letter-spacing: -0.2px;
}

.header{
    color:  #FFF;
font-variant-numeric: slashed-zero;
font-family: "TheSeasons";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 140%;
letter-spacing: 0.5px;
}
}

.logo_groups{
display: flex;
align-items: center;
gap: 12px;

.logo_subgroups{
    display: flex;
flex-direction: column;
align-items: flex-start;
}
.logo_text{
color: #FFF;
text-align: center;
font-variant-numeric: slashed-zero;
font-family: 'Satoshi', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 150%;
letter-spacing: -0.2px;
}

.logo_secondary{
color:  #FAFAFA;
text-align: center;
font-variant-numeric: slashed-zero;
font-family: 'Satoshi', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%;
letter-spacing: -0.2px;
}
}