.aboutInfo{
display: flex;
padding: var(--Section-Padding-padding-section-large, 112px) var(--Page-Padding-padding-global, 64px);
flex-direction: column;
align-items: center;
gap: 80px;
align-self: stretch;
background: var(--White, #FFF);

@media (max-width:768px) {
    display: flex;
padding: var(--Section-Padding-padding-section-large, 64px) var(--Page-Padding-padding-global, 20px);
flex-direction: column;
align-items: flex-start;
gap: 80px;
align-self: stretch;
}

.cta6{
display: flex;
max-width: 1312px;
flex-direction: column;
justify-content: flex-end;
width: 100%;
margin-left: auto;
gap: 80px;
align-self: stretch;

@media (max-width:768px) {
    display: flex;
max-width: 100%;
flex-direction: column;
align-items: flex-end;
gap: 48px;
align-self: stretch;
}
}

.frame{
display: block;
max-width: var(--Max-Width-max-width-xlarge, 1024px);
flex-direction: column;
align-items: flex-end;
justify-content: flex-end;
gap: 16px;
align-self: stretch;
margin-left: auto;

@media (max-width:768px) {
    display: flex;
max-width: 100%;
flex-direction: column;
align-items: flex-start;
gap: 12px;
align-self: stretch;
}
}

.secondFrame{
color: var(--Deep-Green, #172B22);
font-variant-numeric: slashed-zero;

/* Desktop/Display/Small (M) */
font-family: var(--Font-Family-Heading, "TheSeasons");
font-size: var(--Font-Size-4xl, 40px);
font-style: normal;
font-weight: 400;
line-height: 120%; /* 48px */
letter-spacing: 0.5px;

@media screen {
    color: var(--Deep-Green, #172B22);
font-variant-numeric: slashed-zero;
align-self: stretch;
/* Mobile/Display/Small (M) */
font-family: var(--Font-Family-Heading, "TheSeasons");
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 33.6px */
letter-spacing: 0.5px;
}
}

}