.propertyInfo{
display: flex;
padding: var(--6xl, 64px) var(--Page-Padding-padding-global, 64px);
flex-direction: column;
align-items: center;
gap: 48px;
align-self: stretch;
background: var(--White-White, #FFF);

@media (max-width:768px) {
  display: flex;
padding: var(--6xl, 64px) var(--xl, 20px);
flex-direction: column;
align-items: center;
gap: 40px;
align-self: stretch;
}

.container{
display: flex;
max-width: 1312px;
width: 100%;
justify-content: center;
align-items: flex-start;
gap: 16px;
margin-left: auto;
margin-right: auto;

@media (max-width:768px) {
  display: flex;
flex-direction: column;
align-items: center;
gap: 40px;
align-self: stretch;
width: 100%;
max-width: 100%;
}
}

.title{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 24px;
flex: 1 0 0;

@media (max-width:768px) {
  align-self: stretch;
}
}

.titleColumn{
color: var(--Deep-Green, #172B22);
font-variant-numeric: slashed-zero;

/* Desktop/Headline/Small (SB) */
font-family: var(--Font-Family-Heading, "TheSeasons");
font-size: var(--Font-Size-xl, 20px);
font-style: normal;
font-weight: 700;
line-height: 140%; /* 28px */


@media (max-width:768px) {
  align-self: stretch;
}
}

.titleText{
display: flex;
align-items: center;
gap: 6px;
align-self: stretch;

}

.titleDescription{
height: 1px;
flex: 1 0 0;
background: var(--Bright-Green, #3C7A5B);
}

.button{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 16px;
align-self: stretch;
}

.insights{
display: flex;
justify-content: space-between;
align-items: center;
align-self: stretch;

@media (max-width:768px) {
  display: flex;
align-items: center;
gap: 50px;
align-self: stretch;
}
}

.insightCard{
color: var(--Dark-Grey-Grey-8, #7C7C7C);
font-variant-numeric: slashed-zero;

/* Desktop/Label/Large (M) */
font-family: var(--Font-Family-Body, "Satoshi");
font-size: var(--Font-Size-md, 16px);
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: -0.3px;

@media (max-width:768px) {
  max-width: 155px;
flex: 1 0 0;
}
}

.insightValue{
  color: var(--Deep-Green, #172B22);
font-variant-numeric: slashed-zero;
max-width: 300px;
flex: 1 0 0;
/* Desktop/Body/Normal (M) */
font-family: var(--Font-Family-Body, "Satoshi");
font-size: var(--Font-Size-md, 16px);
font-style: normal;
font-weight: 500;
line-height: 150%; /* 24px */
letter-spacing: -0.3px;

@media (max-width:768px) {
  width: 100%;
  max-width: 100%;
}
}

.blogSubContainer{
color: var(--Deep-Green, #172B22);
font-variant-numeric: slashed-zero;

/* Desktop/Body/Normal (M) */
font-family: var(--Font-Family-Body, "Satoshi");
font-size: var(--Font-Size-md, 16px);
font-style: normal;
font-weight: 500;
line-height: 150%; /* 24px */
letter-spacing: -0.3px;
max-width: 300px;
flex: 1 0 0;
}

.blogColumn{
display: flex;
flex-direction: column;
align-items: center;
gap: 16px;
flex: 1 0 0;
}

.blogSubColumn{
width: 3px;
height: 64px;
background: var(--Gold, #FCC97E);
}

.blogSub{
width: 3px;
flex: 1 0 0;
background: var(--Gold, #FCC97E);
}

.badge{
display: flex;
padding: 64px 0;
flex-direction: column;
align-items: flex-start;
gap: 64px;
flex: 1 0 0;
align-self: stretch;
}

.social_icons{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 24px;
align-self: stretch;
}
.date_text{
color: var(--White, #FFF);
font-variant-numeric: slashed-zero;

/* Desktop/Headline/Normal (SB) */
font-family: var(--Font-Family-Heading, "TheSeasons");
font-size: var(--Font-Size-2xl, 24px);
font-style: normal;
font-weight: 700;
line-height: 140%; /* 33.6px */
}

.header{
  color: var(--White-2, #FAFAFA);
font-variant-numeric: slashed-zero;

/* Desktop/Body/Normal (R) */
font-family: var(--Font-Family-Body, "Satoshi");
font-size: var(--Font-Size-md, 16px);
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
letter-spacing: -0.3px;
}
}