.containers{
display: flex;
padding: var(--4xl, 40px) var(--6xl, 64px) var(--6xl, 64px) var(--6xl, 64px);
justify-content: center;
align-items: flex-start;
gap: var(--6xl, 64px);
align-self: stretch;
background: var(--Deep-Green, #172B22);

@media (max-width:768px) {
    display: flex;
width: 100%;
padding: var(--none, 0);
flex-direction: column;
align-items: center;
background: #FFF;
}


.container{
display: flex;
max-width: 1312px;
justify-content: center;
align-items: flex-start;
gap: 64px;
flex: 1 0 0;
align-self: stretch;
margin-left: auto;
margin-right: auto;

@media (max-width:768px) {
    display: flex;
    width: 100%;
padding: var(--4xl, 40px) var(--xl, 20px) var(--6xl, 64px) var(--xl, 20px);
justify-content: center;
align-items: flex-start;
gap: var(--6xl, 64px);
align-self: stretch;
background: var(--Deep-Green, #172B22);
flex-direction: column;
}

}

.title{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
flex: 1 0 0;
align-self: stretch;

@media (max-width:768px) {
    display: flex;
max-width: 100%;
flex-direction: column;
align-items: center;
gap: 64px;
flex: 1 0 0;
order:1;
}


}

.titleColumn{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: var(--2xl, 24px);
align-self: stretch;

@media (max-width:768px) {
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: var(--3xl, 32px);
align-self: stretch;
}
}

.titleText{
color: var(--White, #FFF);
font-variant-numeric: slashed-zero;

/* Desktop/Display/Large (SB) */
font-family: var(--Font-Family-Heading, "TheSeasons");
font-size: var(--Font-Size-6xl, 56px);
font-style: normal;
font-weight: 700;
line-height: 120%; /* 67.2px */
text-transform: uppercase;

@media (max-width:768px) {
    color: var(--White, #FFF);
font-variant-numeric: slashed-zero;
align-self: stretch;
/* Mobile/Display/Normal (SB) */
font-family: var(--Font-Family-Heading, "TheSeasons");
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 38.4px */
letter-spacing: 0.5px;
text-transform: uppercase;
}
}

.titleDescription{
color: var(--White-2, #FAFAFA);
font-variant-numeric: slashed-zero;

/* Desktop/Body/Large (R) */
font-family: var(--Font-Family-Body, "Satoshi");
font-size: var(--Font-Size-lg, 18px);
font-style: normal;
font-weight: 400;
line-height: 150%; /* 27px */
letter-spacing: -0.5px;

@media (max-width:768px) {
    color: var(--White-2, #FAFAFA);
font-variant-numeric: slashed-zero;

/* Mobile/Body/Large (R) */
font-family: var(--Font-Family-Body, "Satoshi");
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
letter-spacing: -0.5px;
}
}

.button{
display: flex;
align-items: center;
gap: var(--2xs, 6px);



}

.image {
  order: 0;

  @media (max-width: 768px) {
    order: 2;
  }
}

.insights {
display: flex;
align-items: center;
gap: -12px;


}


.insightCard{
display: flex;
height: 316px;
justify-content: center;
align-items: center;
gap: 24px;
flex: 1 0 0;
aspect-ratio: 1/1;
}

.blogSubContainer{
color: var(--White-2, #FAFAFA);
font-variant-numeric: slashed-zero;

/* Desktop/Label/Normal (R) */
font-family: var(--Font-Family-Body, "Satoshi");
font-size: var(--Font-Size-sm, 14px);
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
letter-spacing: -0.2px;
}

.blogColumn{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: var(--lg, 16px);
align-self: stretch;
}

.blogSubColumn{
color: var(--White-White, #FFF);
font-variant-numeric: slashed-zero;

/* Desktop/Body/Small (M) */
font-family: var(--Font-Family-Body, "Satoshi");
font-size: var(--Font-Size-sm, 14px);
font-style: normal;
font-weight: 500;
line-height: 150%; /* 21px */
letter-spacing: -0.2px;
}

.blogSub{
display: flex;
align-items: center;
gap: 32.557px;
align-self: stretch;
}

.badge{
display: flex;
align-items: center;
gap: 17.6px;
}

.delFur{
    background: url('../delfur-small-logo.png') lightgray 50% / cover no-repeat;
    width: 57.131px;
height: 23.1px;
aspect-ratio: 57.13/23.10;
}

.buildings{
    width: 41.25px;
height: 41.25px;
aspect-ratio: 41.25/41.25;
background: url('../builders-small-logo.png')  50% / cover no-repeat;
}


.coral{
    width: 55px;
height: 13.338px;
aspect-ratio: 55.00/13.34;
background: url('../coral-dulux-small-logo.png')  50% / cover no-repeat;
}

.whirlpool{
    width: 51.425px;
height: 16.5px;
aspect-ratio: 51.42/16.50;
background: url('../whirlpool-small-logo.png')  50% / cover no-repeat;
}
.philips{
    width: 41.8px;
height: 22.275px;
aspect-ratio: 41.80/22.27;
background: url('../lighting-philips-small-logo.png') lightgray 50% / cover no-repeat;
}
.badge_text{
    color:#172B22;
text-align: center;
font-variant-numeric: slashed-zero;
font-family: 'Satoshi', sans-serif;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 16px;
}
.date_text{
    color:  #FAFAFA;
font-variant-numeric: slashed-zero;
font-family: 'Satoshi', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%;
letter-spacing: -0.2px;
}

.header{
    color:  #FFF;
font-variant-numeric: slashed-zero;
font-family: "TheSeasons";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 140%;
letter-spacing: 0.5px;
}
}

.logo_groups{
display: flex;
align-items: center;
gap: 12px;

.logo_subgroups{
    display: flex;
flex-direction: column;
align-items: flex-start;
}
.logo_text{
color: #FFF;
text-align: center;
font-variant-numeric: slashed-zero;
font-family: 'Satoshi', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 150%;
letter-spacing: -0.2px;
}

.logo_secondary{
color:  #FAFAFA;
text-align: center;
font-variant-numeric: slashed-zero;
font-family: 'Satoshi', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%;
letter-spacing: -0.2px;
}
}