.mission{
display: flex;
width: 100%;
padding: var(--Section-Padding-padding-section-large, 112px) var(--Page-Padding-padding-global, 64px);
flex-direction: column;
align-items: center;
gap: 80px;
background: var(--White, #FFF);

@media (max-width:768px) {
  display: flex;
width: 100%;
padding: var(--Section-Padding-padding-section-large, 64px) var(--Page-Padding-padding-global, 20px);
flex-direction: column;
align-items: flex-start;
gap: 48px;
}

.cta6{
display: flex;
max-width: 1312px;
flex-direction: column;
align-items: flex-start;
gap: 80px;
align-self: stretch;
margin-left: auto;
margin-right: auto;

@media (max-width:768px) {
  display: flex;
max-width: 100%;
width: 100%;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 48px;
align-self: stretch;
}
}

.frame{
display: flex;
align-items: flex-start;
gap: 64px;
align-self: stretch;

@media (max-width:768px) {
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 24px;
align-self: stretch;
}
}

.secondFrame{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 32px;
flex: 1 0 0;
align-self: stretch;

@media (max-width:768px) {
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 48px;
align-self: stretch;


}

}

.text{
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
gap: 32px;
flex: 1 0 0;
align-self: stretch;

@media (max-width:768px) {
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 16px;
align-self: stretch;
}
}

.secondColumn{
color: var(--Deep-Green, #172B22);
font-variant-numeric: slashed-zero;

/* Desktop/Body/Normal (M) */
font-family: var(--Font-Family-Body, "Satoshi");
font-size: var(--Font-Size-md, 16px);
font-style: normal;
font-weight: 500;
line-height: 150%; /* 24px */
letter-spacing: -0.3px;

@media (max-width:768px) {
  font-size: 14px;
}
}

.secondText{
color: var(--Deep-Green, #172B22);
font-variant-numeric: slashed-zero;

/* Desktop/Headline/Normal (M) */
font-family: var(--Font-Family-Heading, "TheSeasons");
font-size: var(--Font-Size-2xl, 24px);
font-style: normal;
font-weight: 400;
line-height: 140%; /* 33.6px */

@media (max-width:768px) {
  font-size: 20px;
}
}

.secondColumnActions{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 80px;
flex: 1 0 0;

@media (max-width:768px) {
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 24px;
align-self: stretch;

#missionImage{
  order: 1;
}


    .secondColumnButtonContainer {
      order: 2;
    }
}
}

.secondColumnButtonContainer{
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 16px;
align-self: stretch;

@media (max-width:768px) {
  display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
gap: 32px;
align-self: stretch;
}
}

}

.logo_groups{
color: var(--Deep-Green, #172B22);
font-variant-numeric: slashed-zero;

/* Desktop/Body/Normal (M) */
font-family: var(--Font-Family-Body, "Satoshi");
font-size: var(--Font-Size-md, 16px);
font-style: normal;
font-weight: 500;
line-height: 150%; /* 24px */
letter-spacing: -0.3px;

@media (max-width:748px) {
  font-size: 14px;
}
}

.logo_text{
  color: var(--Deep-Green, #172B22);
font-variant-numeric: slashed-zero;

/* Desktop/Headline/Normal (M) */
font-family: var(--Font-Family-Heading, "TheSeasons");
font-size: var(--Font-Size-2xl, 24px);
font-style: normal;
font-weight: 400;
line-height: 140%; /* 33.6px */

@media (max-width:748px) {
  font-size: 20px;
}
}