.investorRelations{
display: flex;
padding: var(--Section-Padding-padding-section-large, 112px) var(--Page-Padding-padding-global, 64px);
flex-direction: column;
align-items: center;
gap: 80px;
align-self: stretch;
background: var(--White, #FFF);

@media (max-width:768px) {
    display: flex;
padding: var(--Section-Padding-padding-section-large, 64px) var(--Page-Padding-padding-global, 20px);
flex-direction: column;
align-items: flex-start;
gap: 80px;
align-self: stretch;
}

.container{
display: flex;
max-width: 1312px;
flex-direction: column;
align-items: flex-end;
gap: 80px;
align-self: stretch;
margin-left: auto;
margin-right: auto;

@media (max-width:768px) {
    display: flex;
max-width: 100%;
width: 100%;
flex-direction: column;
align-items: flex-end;
gap: 48px;
align-self: stretch;
}
}

.title{
display: flex;
max-width: 1024px;
flex-direction: column;
align-items: flex-end;
gap: 16px;
align-self: stretch;

@media (max-width:768px) {
    display: flex;
max-width: 100%;
width: 100%;
flex-direction: column;
align-items: flex-start;
gap: 12px;
align-self: stretch;
}
}

.titleColumn{
color: var(--Deep-Green, #172B22);
font-variant-numeric: slashed-zero;

/* Desktop/Display/Normal (SB) */
font-family: var(--Font-Family-Heading, "TheSeasons");
font-size: var(--Font-Size-5xl, 48px);
font-style: normal;
font-weight: 700;
line-height: 120%; /* 57.6px */
letter-spacing: 0.5px;
text-transform: uppercase;

@media (max-width:768px) {
    font-size: 32px;
}
}

.titleText{
color: var(--Dark-Grey-Grey-8, #7C7C7C);
font-variant-numeric: slashed-zero;

/* Desktop/Display/Normal (M) */
font-family: var(--Font-Family-Heading, "TheSeasons");
font-size: var(--Font-Size-5xl, 48px);
font-style: normal;
font-weight: 400;
line-height: 120%;
letter-spacing: 0.5px;
text-transform: lowercase;

@media (max-width:768px) {
    font-size: 32px;
}
}

.titleDescription{
display: flex;
align-items: flex-start;
gap: 120px;
align-self: stretch;

@media (max-width:768px) {
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 40px;
align-self: stretch;
}
}

.button{
display: flex;
height: 298px;
align-items: center;
gap: 20px;
flex: 1 0 0;

@media (max-width:768px) {
    display: flex;
height: 200px;
align-items: center;
gap: 20px;
align-self: stretch;
}
}

.insights {
width: 1px;
height: 298px;
background: #C0C0C0;

@media (max-width:768px) {
    height: 200px;
}
}


.insightCard{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
flex: 1 0 0;
align-self: stretch;
}

.blogSubContainer{
color: var(--Deep-Green, #172B22);
font-variant-numeric: slashed-zero;

/* Desktop/Body/Large (M) */
font-family: var(--Font-Family-Body, "Satoshi");
font-size: var(--Font-Size-lg, 18px);
font-style: normal;
font-weight: 500;
line-height: 150%; /* 27px */
letter-spacing: -0.5px;
}

.blogColumn{
display: flex;
align-items: flex-end;
}

.blogSubColumn{
color: var(--Deep-Green, #172B22);
text-align: center;
font-variant-numeric: slashed-zero;
font-family: var(--Font-Family-Heading, "TheSeasons");
font-size: 80px;
font-style: normal;
font-weight: 400;
line-height: 80%; /* 64px */
letter-spacing: -2px;
}

.blogSub{
color: var(--Deep-Green, #172B22);
font-variant-numeric: slashed-zero;
font-family: var(--Font-Family-Heading, "TheSeasons");
font-size: var(--Font-Size-4xl, 40px);
font-style: normal;
font-weight: 400;
line-height: 90%; /* 36px */
letter-spacing: -1.5px;
}

.badge{
  display: flex;
padding: 2px 8px;
justify-content: center;
align-items: center;
gap: 2px;
border-radius: 0;
background:#EAEAEA;
}

.badge_text{
    color:#172B22;
text-align: center;
font-variant-numeric: slashed-zero;
font-family: 'Satoshi', sans-serif;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 16px;
}
.date_text{
    color:  #FAFAFA;
font-variant-numeric: slashed-zero;
font-family: 'Satoshi', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%;
letter-spacing: -0.2px;
}

.header{
    color:  #FFF;
font-variant-numeric: slashed-zero;
font-family: "TheSeasons";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 140%;
letter-spacing: 0.5px;
}
}

.logo_groups{
display: flex;
align-items: center;
gap: 12px;

.logo_subgroups{
    display: flex;
flex-direction: column;
align-items: flex-start;
}
.logo_text{
color: #FFF;
text-align: center;
font-variant-numeric: slashed-zero;
font-family: 'Satoshi', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 150%;
letter-spacing: -0.2px;
}

.logo_secondary{
color:  #FAFAFA;
text-align: center;
font-variant-numeric: slashed-zero;
font-family: 'Satoshi', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%;
letter-spacing: -0.2px;
}
}