.header{
display: flex;
padding: var(--Section-Padding-padding-section-large, 112px) var(--Page-Padding-padding-global, 64px);
flex-direction: column;
align-items: center;
gap: 80px;
align-self: stretch;
background: var(--Deep-Green, #172B22);


.cta6{
display: flex;
max-width:  1280px;
margin-left: auto;
margin-right: auto;
flex-direction: column;
align-items: flex-start;
gap: 80px;
align-self: stretch;
}

.frame{
display: flex;
align-items: flex-start;
gap: 80px;
align-self: stretch;
}

.secondFrame{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 16px;
flex: 1 0 0;
}

.text{
color: var(--White, #FFF);
font-variant-numeric: slashed-zero;

/* Desktop/Display/Normal (SB) */
font-family: var(--Font-Family-Heading, "TheSeasons");
font-size: var(--Font-Size-5xl, 48px);
font-style: normal;
font-weight: 700;
line-height: 120%; /* 57.6px */
letter-spacing: 0.5px;
text-transform: uppercase;
}

.secondColumn{
color: var(--White, #FFF);
font-variant-numeric: slashed-zero;

/* Desktop/Body/Large (R) */
font-family: var(--Font-Family-Body, "Satoshi");
font-size: var(--Font-Size-lg, 18px);
font-style: normal;
font-weight: 400;
line-height: 150%; /* 27px */
letter-spacing: -0.5px;
width: 600px;
align-self: stretch;
}

.secondText{
height: 746px;
align-self: stretch;
}

}