.header{
display: flex;
padding: var(--Section-Padding-padding-section-large, 112px) var(--Page-Padding-padding-global, 64px);
flex-direction: column;
align-items: center;
gap: 80px;
align-self: stretch;
background: var(--Deep-Green, #172B22);

@media (max-width:768px) {
    display: flex;
padding: var(--Section-Padding-padding-section-large, 64px) var(--Page-Padding-padding-global, 20px);
flex-direction: column;
align-items: center;
gap: 48px;
align-self: stretch;
}


.cta6{
display: flex;
max-width:  1280px;
width: 100%;
margin-left: auto;
margin-right: auto;
flex-direction: column;
align-items: flex-start;
gap: 80px;
align-self: stretch;

@media (max-width:768px) {
    display: flex;
max-width:100%;
width: 100%;
flex-direction: column;
align-items: flex-start;
gap: 48px;
align-self: stretch;
}
}

.frame{
display: flex;
align-items: flex-start;
gap: 80px;
align-self: stretch;

@media (max-width:768px) {
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 20px;
align-self: stretch;
}
}

.secondFrame{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 16px;
flex: 1 0 0;

@media (max-width:768px) {
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 16px;
align-self: stretch;
}
}

.text{
color: var(--White, #FFF);
font-variant-numeric: slashed-zero;

/* Desktop/Display/Normal (SB) */
font-family: var(--Font-Family-Heading, "TheSeasons");
font-size: var(--Font-Size-5xl, 48px);
font-style: normal;
font-weight: 700;
line-height: 120%; /* 57.6px */
letter-spacing: 0.5px;
text-transform: uppercase;

@media (max-width:768px) {
    color: var(--White, #FFF);
font-variant-numeric: slashed-zero;
align-self: stretch;

/* Mobile/Display/Normal (SB) */
font-family: var(--Font-Family-Heading, "TheSeasons");
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 38.4px */
letter-spacing: 0.5px;
text-transform: uppercase;
}
}

.secondColumn{
color: var(--White, #FFF);
font-variant-numeric: slashed-zero;

/* Desktop/Body/Large (R) */
font-family: var(--Font-Family-Body, "Satoshi");
font-size: var(--Font-Size-lg, 18px);
font-style: normal;
font-weight: 400;
line-height: 150%; /* 27px */
letter-spacing: -0.5px;
width: 600px;
align-self: stretch;

@media (max-width:768px) {
    color: var(--White, #FFF);
font-variant-numeric: slashed-zero;
width: 100%;

/* Mobile/Body/Large (R) */
font-family: var(--Font-Family-Body, "Satoshi");
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
letter-spacing: -0.5px;
}
}

.secondText{
height: 746px;
align-self: stretch;

@media (max-width:768px) {
    height: auto;
}

}

}