@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import "tailwindcss";

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@font-face {
  font-family: 'TheSeasons';
  src: url('/fonts/Fontspring-DEMO-theseasons-reg.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TheSeasons';
  src: url('/fonts/Fontspring-DEMO-theseasons-bd.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}